html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
}

header {
  background-color: #1a2d5c; 
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  background-color: #ffffff; 
  color: #1a2d5c;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #1a2d5c; 
  font-size: 2.5em;
  font-weight: bold;
}

p {
  color: #4a4a4a;
  font-size: 1.1em;
  margin-top: 20px;
  line-height: 1.6;
}

button, .cta-button {
  background-color: #ffb03b;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 15px;
  transition: background-color 0.3s ease;
}

button:hover, .cta-button:hover {
  background-color: #d48d2c; 
}

.decorative {
  background-color: #e0e7ff; 
  padding: 50px;
  position: relative;
}

.decorative::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at center, #1a2d5c, #ffffff 90%);
  opacity: 0.1;
  z-index: -1;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.user-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}


@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  button, .cta-button {
    font-size: 1.1em;
  }
}

